body {
  font-family: 'Open Sans', sans-serif;
}
.button {
  background-color: #ff9a00;
  color: #fff;
  outline: none;
  cursor: pointer;
  min-width: 130px;
  padding: 12px;
  font-weight: 700;
  border: none;
  transition: background-color 0.3s ease, opacity 0.2s ease-in;
}
.button:hover {
  background-color: #000;
}

@media (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .button {
    min-width: 110px;
  }
}
